DATABASE_URL="postgresql://postgres:postgres@postgres:5432/starsoft_backend_challenge"
COOKIE_SECRET='q7K@9mF!2ZxP6rT#1aW$8nYVdB3uE5sL0HjC'
JWT_SECRET='q2xB9vGmK7#rT1!nZp4@Wc8$yH6^sD3*eL0&uJ5?Xa'
JWT_ACCESS_SECRET='6f4b8b8a9f8f4c2f9c1c7d8e3a6b5f0d9a2e7c1b4f8d3e6a9c2f7b1d5e8a0c3f'
JWT_REFRESH_SECRET='9c2a7e6b1d4f8c3e0a5b7d9f2c6e1a8b4d7f0c3e6a9b2d5f8c1e7a3b0d6f9c2a'
SECURE='false'
SIGNED='false'
SAME_SITE='lax'